// Color Variables
$primary-color: #333;
$secondary-color: #555;
$accent-color: #0066cc;
$background-color: #fff;
$sidebar-bg-color: #f7f7f7;
$text-color: #333;

// Font Variables
$font-family: 'Roboto', sans-serif;
