<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <div class="wrapper">
      
      <!-- Navigation Menu -->
      <nav>
        <ul class="nav">
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/resume/" | relative_url }}">Resume</a></li>
          <li><a href="{{ "/experience/" | relative_url }}">Experience</a></li>
          <li><a href="{{ "/projects/" | relative_url }}">Projects</a></li>
          <li><a href="{{ "/publications/" | relative_url }}">Publications</a></li>
          <li><a href="{{ "/talks/" | relative_url }}">Talks</a></li>
        </ul>
      </nav>

      <!-- Main Content and Sidebar -->
      <div class="main-content">
        <section>
          {{ content }}
        </section>
      </div>
      
    </div>
      {% if page.show_footer %}
    {% include footer.html %}
    {% endif %}
  </body>
</html>
